<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="detection-area">
    <h2>Language Detector</h2>

    <textarea id="text" placeholder="Enter text..."></textarea>

    <br>

    <label>Select Model:</label>
    <select id="model">
        <option value="svm">Linear SVM</option>
        <option value="nb">Naive Bayes</option>
        <option value="both">Compare Both</option>
    </select>

    <br>

    <button onclick="predict()">Predict</button>

    <div id="output" class="result"></div>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>